.bodywidth {
	width: 960px;
	background: #ebebeb;
	margin-left: 300px;
	margin-top: 8px;
}

.sectionwidth {
	width: 495px;
}

.white {
	color: #777;
	background: #ebebeb;
}

.dark {
	color: #ebebeb;
	background: #777;
}

.clearfix {
	overflow: auto;
}

.bold {
	font-weight: bold;
}

html {
	background-color: #777;
}

body {
	font-family: "arial", "helvetica", "helvetica neue", "sans-serif";
	color: #777;
	text-align: center;
	font-size: 18px;
}

header {
	padding: 40px;
	border-bottom: 10px solid #777;
	margin-bottom: 8px;
}

nav {
	padding: 40px;
	border-bottom: 20px solid #777;
	
}

section {
	display: inline block;
	padding: 45px;
	margin-top: 0px;

}

aside {
	float: right;
	padding-top: 25px;
	height: 275px;
	width: 400px;
	margin-bottom: 40px;
	border-left: 20px solid #777;
}

article {
	display: block;
	padding: 20px;	
	margin-right: 10px;
	margin-left: -35px;
	margin-bottom: -35px;
	margin-top: 30px;
}

div {
	padding: 18px;
	margin-right: 18px;
	margin-left: 12px;
	border-bottom: 10px solid #777;
	border-top: 14px solid #777;
}

p {
	padding: 18px;
	margin-right: 18px;
	margin-left: 12px;
	margin-bottom: 5px;
}

footer {
	padding: 40px;
	border-top: 20px solid #777;
}

summary {
	text-align: center;
}